
/* #region Root Vairables */
:root{
    --Background_col : #E5E5E5;
    --text_col_Trans : #373737a1;
    --section_col : #EFF0EA;
    --links_col : #9F7657;
    --contantus_col: #3C3A47;
    --contactus_col_trans: #FFFFFF1A;
    --contactus_width: 40%;
}

/* #endregion */

/* #region BODY */
body
{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--contantus_col);
}

/* #endregion */

/* #region HEADER CSS */
header{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 64.125rem;
    background-color: var(--Background_col);
    border-style: solid;
    border-color: var(--Background_col);
    margin-top: 0;
    
}

header img
{
    margin: -16rem 0 10rem 0;
    width: 3rem;
}

header h1
{
    margin: 0;
    font-weight: bold;
    /* font-weight: 275px; */
    /* font-size: 32px; */
}

header .btn
{
    margin-top: 7rem;
    border-style: solid;
    border-width: 1px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--links_col);
}

header .btn a:hover
{
    padding: 1rem 2.4rem;
}

.btn a
{
    padding: 1rem 1.5rem;
    text-decoration-line: none;
    transition: padding .25s;
    color: var(--links_col);
}

/* #endregion */

/* #region SELECTION CSS */

.selection
{
    border: solid;
    border-color: var(--section_col);
    text-align: center;
    background-color: var(--section_col);
    font-weight: lighter;
}

.selection .gallery
{
    text-align: left;
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 3rem;
}

.selection .gallery p
{
    max-width: fit-content;
    font-weight:lighter;
}

.selection p:first-child
{
    margin-top: 8rem;
    color: #3c3a4770;
}

.selection > p:last-child
{
    position: relative;
    top: 5rem;
    margin-bottom: 20rem;
    
    /* color: red; */
}

.selection > p a
{
    text-decoration-line: none;
    color: var(--links_col);
    font-weight: bold;
}

.selection .gallery .no{
    font-size:x-large;
    font-weight: lighter;
    color: var(--text_col_Trans);
}

.selection h3 ~ p
{
    width: 40%;
    margin: auto;
}
/* #endregion */

/* #region CONTANT US CSS */

.contact-us
{
    text-align: center;
    background-color: var(--contantus_col);
    border-style: solid;
    border-color: var(--contantus_col);
    height: 70rem;
    color: white;
    font-weight: lighter;
}

.contact-us p:first-child, .visit-our-store p:first-child
{
    margin-top: 10rem;
}

.contact-us form
{
    /* text-align: left; */
    width: 100%;
}

.contact-us form [type="text"], [type="email"], textarea
{
    margin-bottom:30px;
    width: var(--contactus_width);
    padding: 1rem;
    box-sizing: border-box;
    background-color: var(--contactus_col_trans);
    border: none;
    color: white;
    resize: none;
}

.contact-us form > label
{
    margin: 2px auto 5px auto;
    text-align: left;
    /* color: red; */
    /* background-color: blue; */
    width:  var(--contactus_width);
    display: block;
}

.contact-us form > button
{
    padding: 1rem;
    width: var(--contactus_width);
    box-sizing: border-box;
    background-color: transparent;
    border-style: solid;
    border-width: 0.8px;
    border-color: white;
    color: white;
    transition: padding .35s;
}

.contact-us form > button:hover
{
    padding: 1.5rem;
}

/* #endregion */

/* #region VISIT OUT STORE */

.visit-our-store
{
    text-align: center;
    
}

/* #endregion */

/* #region FOOTER */
footer
{
    margin-top: 10rem;
    text-align: center;
}

footer ul
{
    display: flex;
    justify-content: center;
    gap: 5rem;
    list-style: none;
}

footer ul li a > img
{
    width: 1rem;
}

footer ul li:nth-child(even) a > img
{
    width: .655rem;
}


footer p:last-child
{
    margin-top: 10rem;
    font-size: small;
}
/* #endregion */
